:root {
    --grid-cols: 1;
    --grid-rows: 1;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    margin-left: auto;
    margin-right: auto;
    height: 600px;
    width: 600px;
}

h1 {
    text-align: center;
}

.grid-box {
    padding: 1em;
    border: 1px solid black;
    text-align: center;
}

.color-box {
    background-color: lightcoral;
}